<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yyd.yun.dao.RoleMapper">

  <resultMap id="BaseResultMap" type="yyd.yun.beans.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, role_name
  </sql>
  
  <select id="selectRole" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_role
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="queryRoleByUserName" resultMap="BaseResultMap">
    SELECT
	  pms_role.*
	FROM
	  pms_role_operator,
	  pms_role,
	  pms_operator
	WHERE pms_role_operator.operator_id = pms_operator.id
	  AND pms_role_operator.role_id = pms_role.id
	  AND pms_operator.username = #{username}
  </select>
  
  <select id="queryRoleByUserId" resultMap="BaseResultMap">
    SELECT
	  pms_role.*
	FROM
	  pms_role_operator,
	  pms_role,
	  pms_operator
	WHERE pms_role_operator.operator_id = pms_operator.id
	  AND pms_role_operator.role_id = pms_role.id
	  AND pms_operator.id = #{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="yyd.yun.beans.Role">
    insert into pms_role(role_name)
    values (#{roleName,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="yyd.yun.beans.Role">
    insert into pms_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="yyd.yun.beans.Role">
    update pms_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="yyd.yun.beans.Role">
    update pms_role
    set role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!-- 角色关系表 -->
  <insert id="insertRoleOperator">
  	insert into pms_role_operator(role_id,operator_id) value(#{roleId},#{operatorId})
  </insert>
  
  <insert id="insertRolePermission">
  	insert pms_role_permission(role_id,permission_id) value(#{roleId},#{permissionId})
  </insert>
  
  
  
</mapper>