<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yyd.yun.dao.StoryResVoDao">

  <resultMap id="BaseResultMap" type="yyd.yun.beans.StoryResVo">
   <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="album_id" jdbcType="INTEGER" property="albumId" />
    <result column="story_category_id" jdbcType="INTEGER" property="storyCategoryId" />
    <result column="age_id" jdbcType="INTEGER" property="ageId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
     <result column="is_tagged" jdbcType="INTEGER" property="state" />
  </resultMap>
	
  <sql id="Base_Column_List">
    id, name, url, album_id, story_category_id, age_id, category_id,is_tagged
  </sql>
  
  <sql id="Base_List">
    s.id, s.name, s.url, s.album_id as albumId, s.story_category_id as storyCategoryId, 
    s.age_id as ageId, s.category_id as categoryId,s.is_tagged as state
  </sql>

  <select id="selectStoryResVo" resultMap="BaseResultMap">
	select <include refid="Base_List"/>,a.id,a.album,c.id,c.category,g.id,g.age
	FROM tb_story_res s	
	LEFT JOIN tb_story_album a ON a.id = s.album_id
	LEFT JOIN tb_story_category c ON s.story_category_id = c.id
	LEFT JOIN tb_age g ON s.age_id = g.id
	<where>
		<if test="name != null and name != '' ">
			and name like concat(concat('%',#{name}),'%')
		</if>
		<if test="storyCategoryId != null and storyCategoryId > 0"> 
		 and story_category_id = #{storyCategoryId}
		</if>
		<if test="isTagged != null and isTagged >= 0"> 
		 and is_tagged = #{isTagged}
		</if>
	</where>
  </select>

 <!--  (select <include refid="Base_Column_List"/> from tb_story_res
		WHERE 1=1
		<if test="storyCategoryId != null and storyCategoryId > 0"> 
		 and story_category_id = #{storyCategoryId}
		</if>
		<if test="isTagged != null and isTagged >= 0"> 
		 and is_tagged = #{isTagged}
		</if>
	) -->
</mapper>