<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yyd.yun.dao.TbMusicResTagMapper">

  <resultMap id="BaseResultMap" type="yyd.yun.beans.TbMusicResTag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="music_res_id" jdbcType="INTEGER" property="musicResId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, music_res_id, tag_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_music_res_tag
    <where>
    	<if test="id != null and id > 0">
    		id = #{id}
    	</if>
    	<if test="musicResId != null and musicResId > 0">
    		music_res_id = #{musicResId}
    	</if>
    	<if test="tagId != null and tagId > 0">
    		tag_id = #{tagId}
    	</if>
    </where>
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_music_res_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <delete id="deleteByPrimaryMusicResId" parameterType="java.lang.Integer">
    delete from tb_music_res_tag
    where music_res_id = #{musicResId,jdbcType=INTEGER}
  </delete>
  
    <delete id="deleteMusicResTagId" parameterType="java.lang.Integer">
    delete from tb_music_res_tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="yyd.yun.beans.TbMusicResTag">
    insert into tb_music_res_tag (music_res_id, tag_id
      )
    values (#{musicResId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="yyd.yun.beans.TbMusicResTag">
    insert into tb_music_res_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="musicResId != null">
        music_res_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="musicResId != null">
        #{musicResId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="yyd.yun.beans.TbMusicResTag">
    update tb_music_res_tag
    <set>
      <if test="musicResId != null">
        music_res_id = #{musicResId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="yyd.yun.beans.TbMusicResTag">
    update tb_music_res_tag
    set music_res_id = #{musicResId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>