<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yyd.yun.dao.TbStoryAlbumMapper">

  <resultMap id="BaseResultMap" type="yyd.yun.beans.TbStoryAlbum">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="album" jdbcType="VARCHAR" property="album" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, album
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_story_album
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectTbStoryAlbum" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_story_album
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_story_album
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="yyd.yun.beans.TbStoryAlbum">
    insert into tb_story_album (id, album)
    values (#{id,jdbcType=INTEGER}, #{album,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="yyd.yun.beans.TbStoryAlbum">
    insert into tb_story_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="album != null">
        album,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="album != null">
        #{album,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="yyd.yun.beans.TbStoryAlbum">
    update tb_story_album
    <set>
      <if test="album != null">
        album = #{album,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="yyd.yun.beans.TbStoryAlbum">
    update tb_story_album
    set album = #{album,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>