<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
					http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
         
    <description>robot-admin</description>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <listener>
        <description>Spring监听器</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
		 <listener-class>
		         org.springframework.web.context.request.RequestContextListener
		 </listener-class>
	</listener>
    
    
    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/spring-mvc.xml</param-value>
        </init-param>
    </servlet>
    <!-- 拦截所有请求
     -->
    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/spring-mybatis.xml
            classpath:spring/spring-ehcache.xml
            classpath:spring/spring-shiro.xml
        </param-value>
    </context-param>
    
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <!-- 字符编码过滤器  --> 
	<filter> 
	    <filter-name>encodingFilter</filter-name> 
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	    <init-param> 
	      <param-name>encoding</param-name> 
	      <param-value>UTF-8</param-value> 
	    </init-param> 
	  </filter> 
	<filter-mapping> 
	    <filter-name>encodingFilter</filter-name> 
	    <url-pattern>/*</url-pattern> 
	</filter-mapping> 
    
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <!-- 该值缺省为fasle ，表示生命周期由SptingApplicationContext管理，true则表示由ServletContainer管理  一般设置为true -->
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- 验证所以请求 -->
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
   <!--  <filter>
        <filter-name>processTime</filter-name>
        <filter-class>com.yyd.filter.ProcessTimeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>processTime</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping> -->
    <!-- <filter>
        <filter-name>XssFilter</filter-name>
        <filter-class>com.yyd.filter.XssFilter</filter-class>
        <init-param>
            <param-name>excludeUrls</param-name>
            <param-value>/admin</param-value>
        </init-param>
        <init-param>
            <param-name>SplitChar</param-name>
            <param-value>@</param-value>
        </init-param>
        <init-param>
            <param-name>FilterChar</param-name>
            <param-value>'@"@\@#@:@%@></param-value>
        </init-param>
        <init-param>
            <param-name>ReplaceChar</param-name>
            <param-value>‘@“@＼@＃@：@％@＞</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping> -->
    <!-- spring-mvc -->
    
    <error-page>
    	<error-code>404</error-code>
    	<location>/404.html</location>
    </error-page>
    
</web-app>
